.button {
    background-color: #ffffff;
    text-align: center;
    font-size: 10px;
    border-radius:8px;
    margin-left: -4px;
}

#container{
    background: #1b0101;
    border-radius:20px;
    width:90px;
    text-align: center;
}